<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ACG-SAKURA</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/uikit.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/sakura.css')}}">
    <script src="{{url_for('static', filename='js/uikit.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/uikit-icons.min.js')}}"></script>
</head>

<body>
    <div class="sa-navbar uk-background-primary" style="height: 42px;">
        <div class="uk-inline">
            <button class="uk-button uk-button-default" type="button">
                <img src="" alt="">
            </button>
            <div uk-dropdown>
                <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-active"><a href="#">Active</a></li>
                    <li><a href="#">Item</a></li>
                    <li class="uk-nav-header">Header</li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#">Item</a></li>
                </ul>
            </div>
        </div>
        <div class="uk-button uk-button-text uk-button-small">login/sigin</div>
    </div>
    <div class="uk-container">

    </div>
</body>

</html>